@import "../../styles/variables.scss";

.card-body {
  width: 177px;
  height: 212px;
  margin: 18px;
  background-color: $my-grey;

  .card-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: 30px;
    font-weight: bold;

    .card-button-icon {
      display: flex;
      justify-content: center;
      font-size: 40px;
    }
  }

  .card-info {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    .card-img {
      width: 100%;
      height: auto;
    }

    .card-info-container {
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 77px;
      background-color: $my-coral;

      .card-name {
        margin: 0 5px;
        font-size: 36px;
        font-weight: bold;
        color: $my-white;
      }
      .card-bottom-info {
        display: flex;
        justify-content: space-between;

        margin: 0 5px;

        .location {
          color: $my-white;
          font-weight: bold;
          font-size: 18px;
        }
        .date {
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }
}
