<div class="card-body">
    <div (click)="handleAddNewCardClick()" class="card-button" *ngIf="isButton" type="button">
        <div>
            <span class="material-icons card-button-icon">
                add
            </span>
            <div>Add more</div>
        </div>
    </div>
    <div (click)="handleCardClick()" class="card-info" *ngIf="!isButton">
        <img class="card-img" src="https://ngrx.io/assets/images/badge.svg" alt="">
        <div class="card-info-container">
            <div class="card-name">
                {{cardData.name}}
            </div>
            <div class="card-bottom-info">
                <div class="location">
                    {{cardData.address}}
                </div>
                <div class="date">
                    {{getHumanDate(cardData.date)}}
                </div>
            </div>
        </div>
    </div>
</div>