@import "../../../shared/styles/variables.scss";

.add-event-container {
    position: relative;
    margin: 10px 60px;

    .spinner{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        background-color: $my-grey;
        opacity: 0.7;

        z-index: 200;
    }
}