@import "../../styles/variables.scss";

.button {
  width: 180px;
  height: 41px;
  padding: 0 10px;

  border: none;
  color: $my-dark-grey;
  background-color: $my-grey;
  cursor: inherit;

  &.active {
    color: $my-black;
    cursor: pointer;
  }

  .label {
    font-size: 35px;
    font-weight: bold;
  }
}
